body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
    background-color: bisque;
    color: #8f3e05;
}

h1, h3 {
    font-weight: 600;
    color: orangered;
    text-align: center;
}
